<p><link rel="stylesheet" href="css/splendor.css"></p>

<h2>Collin's Software</h2>

<ul>
<li><a href="https://schemdraw.readthedocs.io">SchemDraw</a> Electrical schematic and flowchart drawing in Python</li>
<li><a href="https://ziamath.readthedocs.io">Ziamath</a> Draw MathML and Latex expressions to SVG in Python</li>
<li><a href="https://ziafont.readthedocs.io">Ziafont</a> Read OpenType/TrueType fonts and draw glyphs to SVG</li>
<li><a href="https://ziaplot.readthedocs.io">Ziaplot</a> Lightweight plotting library for Python</li>
<li><p><a href="segbowl/index.html">Segmented Bowl Designer</a> for woodturning, online</p></li>
</ul>
<h3>PyScript Demos</h3>
<ul>
<li><a href="pyscript/logic.html">Logic Gates</a>Draw logic trees with Schemdraw</li>
<li><a href="pyscript/ziamath.html">Ziamath</a>Render LaTeX and MathML math expressions to SVG</li>
<li><a href="pyscript/ziafontstr.html">Ziafont</a>Render text to SVG using Open Type fonts</li>
</ul>
<h3>Repository</h3>
<p><a href="https://bitbucket.org/cdelker">Bitbucket Repository</a></p>
